html{
	background-color: #000;
	}

	.bg{
		background: #000;
		padding-top: 30px;
		padding-bottom: 30px;
		height: auto;
	}

	.bg2{
		background: #484949FF;
		padding-top: 30px;
		padding-bottom: 30px;
		height: auto;
	}

	.bg2-text{
		background: #484949FF;
		padding-top: 30px;
		padding-bottom: 0;
		height: auto;
		color: #fff;
	}